.Question {
  text-align: center;
}

.Question-header {
  background-color: white;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Img-Container {
  width: 50vh;
  height: 50wh;
  flex: 1;
}

.Img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

.QuestionNumberHeader {
  margin: 0;
  display: flex;
  width: 50%;
  flex: 1;
  width: 100vw;
}

.QuestionNumbers {
  flex: 1;
  margin: 50px;
  color: black;
}

.QuestionNumbersOutOf {
  flex: 1;
  margin: 50px;
  color: grey;
}

.Question-Text {
  flex: 2;
  margin: 0;
  width: 100vw;
  color: black;
}

.Button-Container {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
